<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <br>
  <br>
  <center> 
   <c> 12 Cars That Barbie Has Owned </c>
  </center><br>
  <p></p>
  <center>
    By Alexis Marie 
  </center>
  <p></p><br>
  <div class="img">
    <center>
      <%= image_tag 'house1.png'%>
    </center>
    <p> Designed By: Robert Best </p>
    <P> Image Via: <a href="http://www.thebarbiecollection.com/silkstone-dolls/the-lingerie-barbie-doll-29651"> <b> thebarbiecollection.com </b> </a>
    <br>
    <br>     
    <br>
  </div>
  <center>
    <%= image_tag 'house2.png'%>
  </center>
  <p>Barbie Corvette</p>
  <p>Year Realeased: 1976</p><br>
  <br>
  <br>
  <br>
  <div class="img">
    <center>
      <%= image_tag 'house3.png'%>
    </center>
    <p>Volkswagen VW Golf Convertible</p>
    <p>Year Realeased: 1984</p>
    <p>Image Via: <a href="http://www.lulu-berlu.com/barbie-s-new-vw-golf-cabriolet-mattel-1984-ref.7873-a38009-en.html"><b>lulu-berlu.com</b></a><br>
    <br>
    <br>
    <br></p>
  </div>
  <center>
    <%= image_tag 'house4.png'%>
  </center>
  <p>Western 4-wheel Drive and Horse Trailer</p>
  <p>Year Realeased: 1980</p>
  <p>Image Via: <a href="http://www.lulu-berlu.com/barbie-western-4-wheel-drive-horse-trailer-mattel-1980-ref.3744-a14525-en.html"><b>lulu-berlu.com</b></a><br>
  <br>
  <br>
  <br></p>
  <div class="img">
    <center>
      <%= image_tag 'house5.png'%>
    </center>
    <p>Ferrari</p>
    <p>Year Realeased: 1987</p><br>
    <br>
    <br>
    <br>
  </div>
  <div class="img">
    <center>
      <%= image_tag 'house6.png'%>
    </center>
    <p>Fun Rider</p>
    <p>Year Realeased: 1990</p><br>
    <br>
    <br>
    <br>
  </div>
  <div class="img">
    <center>
      <%= image_tag 'house7.png'%>
    </center>
    <p>Jaguar XJS</p>
    <p>Year Realeased: 1994</p>
    <p>Image Via: <a href="http://www.ebay.com/itm/VTG-1994-BARBIE-PINK-JAGUAR-XJS-MATTEL-EUROPEAN-SEALED-BUGGIES-UNUSED-BRAND-NEW-/171511202822?hash=item27eedd4406:g:PNsAAOSwZkJUR4S-"><b>Ebay</b></a><br>
    <br>
    <br>
    <br></p>
</body>
</html>