<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <br>
  <br>
  <center>
    10 Metallic Dresses We LOVE
  </center><br>
  <p></p>
  <center>
    By Alexis Marie
  </center>
  <p></p><br>
  <div class="img">
    <br>
    <br>
    <center>
      <%= image_tag 'card1.png'%>
    </center>
    <p>Barbie Outfit: #1494 Goldswinger</p>
    <p>Year Realeased: 1969-1970</p><br>
    <br>
    <br>
    <br>
  </div>
  <div class="img">
    <center>
      <%= image_tag 'card2.jpg'%>
    </center>
    <p>Barbie Outfit: #1799 Maxi N Mini</p>
    <p>Year Realeased: 1970</p><br>
    <br>
    <br>
    <br>
  </div>
  <div class="img">
    <center>
      <%= image_tag 'card3.png'%>
    </center>
    <p>Pink Jubilee Barbie</p>
    <p>Year Realeased: 2008</p><br>
    <br>
    <br>
    <br>
    <div class="img">
      <center>
        <%= image_tag 'card4.png'%>
      </center>
      <p>Barbie Outfit: #1593 Barbie Golden Groove</p>
      <p>Year Realeased: 1969</p><br>
      <br>
      <br>
      <div class="img">
        <center>
          <%= image_tag 'card5.png'%>
        </center>
        <p>Golden Dream Barbie</p>
        <p>Year Realeased: 1981</p><br>
        <br>
        <br>
        <br>
        <div class="img">
          <center>
            <%= image_tag 'card10.png'%>
          </center>
          <p>Silver Starlight Barbie</p>
          <p>Year Realeased: 1994</p><br>
          <br>
          <br>
          <div class="img">
            <center>
              <%= image_tag 'card7.png'%>
            </center>
            <p>Bob Mackie Gold Barbie Doll</p>
            <p>Year Realeased: 1990</p><br>
            <br>
            <br>
            <div class="img">
              <center>
                <%= image_tag 'card8.png'%>
              </center>
              <p>Barbie as Marilyn</p>
              <p>Year Realeased: 2008</p><br>
              <br>
              <br>
              <div class="img">
                <center>
                  <%= image_tag 'card6.png'%>
                </center>
                <p>SuperStar Fashions</p>
                <p>Year Realeased: 1977</p><br>
                <br>
                <br>
                <div class="img">
                  <center>
                    <%= image_tag 'card9.png'%>
                  </center>
                  <p>Happy Holidays Barbie</p>
                  <p>Year Realeased: 1992</p><br>
                  <br>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>