<!DOCTYPE html>
<html lang="en">

<br>
<br>
<br>
<br>
<br>
<br>


        <h1 class="ribbon">
         <strong class="ribbon-content">Barbie's Family</strong>
        </h1>

        <br>
		<br>
		<br>
		

        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'skipper.png'%>
                <h3>Skipper
                    <small>Sister</small>
                </h3>
                <p>(1964–2003, 2010–present)</p>

            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'francie.png'%>
                <h3>Francie
                    <small>Cousin</small>
                </h3>
                <p>(1966–1977)
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'tutti.png'%>
                <h3>Tutti
                    <small>Sister</small>
                </h3>
                <p>(1965–1971) 
                <p>Image Via: <a href="http://www.ebay.com/itm/VINTAGE-MOD-TUTTI-MELODY-IN-PINK-BARBIE-DOLL-BARBIES-SISTER-w-ORIGINAL-OUTFIT-/262685723660?hash=item3d294a0c0c:g:KVYAAOSwPCVYBWP3"><b>Ebay</b></a><br>
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'todd.png'%>
                <h3>Todd
                    <small>Brother</small>
                </h3>
                <p>(1965–1971) 
                <p>Image Via: <a href="http://www.ebay.ca/itm/252505376239?rmvSB=true"><b>Ebay</b></a><br>
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'stacie.png'%>
                <h3>Stacie
                    <small>Sister</small>
                </h3>
                <p>(1990–present)
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'kelly.png'%>
                <h3>Kelly
                    <small>Sister</small>
                </h3>
                <p>(1995–2010)
                </p>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'krissy.png'%>
                <h3>Krissy
                    <small>Sister</small>
                </h3>
                <p>(1998-2001)
               </p>
               <p>Image Via: <a href="http://www.terapeak.com/worth/mattel-barbie-happy-family-baby-krissy-blue-red-outfit/371420879747/"><b>Terapeak</b></a><br>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'chelsea.png'%>
                <h3>Chelsea
                    <small>Sister</small>
                </h3>
                <p>(2010-present)</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'jazzie.png'%>
                <h3>Jazzie
                    <small>Cousin</small>
                </h3>
                <p>(1988–1992)</p>
                <p>Image Via: <a href="http://barbie.wikia.com/wiki/Jazzie"><b>wikia</b></a><br>
            </div>
            <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'todd2.png'%>
                <h3>Todd
                    <small>Brother</small>
                </h3>
                <p>(1991-1995)
                <p>Image Via: <a href="http://barbie.wikia.com/wiki/Todd_Roberts"><b>wikia</b></a><br>
               </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'question.png'%>
                <h3>Margaret Roberts
                    <small>Mother</small>
                </h3>
                <p>(1960-present)</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'question.png'%>
                <h3>George Roberts
                    <small>Father</small>
                </h3>
                <p>(1960-present)</p>
            </div>





        </body>

	</html>