<br>
<br>

<br>
	<br>
	<center>
		<c> Filipina Barbies We Can’t Resist  </c>
	</center><br> <br>

<p> Filipina Barbie entered the scene in 1991, clothed in traditional Philippine fashions. These beauties were made exclusive to Asia. They were manufactured by Richwell Trading Ltd between 1991 to 2003. During the eighties, Mattel had granted Richwell Trading Ltd sole distribution rights for the Philippine market.  </p>

<br> 
<p> 
The Flores de Mayo (translation: “Flowers of May”) line is based upon a traditional Philippine festival. The month long celebration is held during the month of May in honor of the Virgin Mary. Flores de Mayo features of a parade of women wearing ornate gowns. </p>

<br>
<br>

<div class="img">

 <center> <%= image_tag 'filipina2.png' %> </center>

 <p>  Flores de Mayo Barbie </p>
 <p> Year Realeased: 1998 </p>
 <p> Designed By: Nicky Martinez </p>
 <P> Image Via: <a href="http://www.ebay.com/itm/NRFB-BARBIE-DOLL-1998-PHILIPPINES-FLORES-DE-MAYO-SantaCruzan-Festival-2-/111647485907?hash=item19feb56fd3:g:Gp4AAOSwBLlVLqBC"> <b> Ebay</b> </a>


<br>
<br>
<br>
<br>

  </div>


  <center> <%= image_tag 'filipina1.png'%> </center>

 <p>  Flores de Mayo Barbie </p>
 <p> Year Realeased: 1998 </p>
 <p> Designed By: Nicky Martinez </p>
 <P> Image Via: <a href="http://www.ebay.ie/itm/1932-nrfb-mattel-philippines-flores-de-mayo-reyna-fe-barbie-foreign/401153748824?hash=item5d66a06f58"> <b> Ebay </b> </a> 

<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'filipina3.png'%> </center>

<p>  Flores de Mayo Barbie </p>
 <p> Year Realeased: 1998 </p>
 <p> Designed By: Nicky Martinez </p>
 <P> Image Via: <a href="http://www.ebay.com/itm/NRFB-BARBIE-DOLL-1998-PHILIPPINES-FLORES-DE-MAYO-SantaCruzan-Festival-1-/121623735987?hash=item1c5156eeb3:g:~TcAAOSwstxVLp0j"> <b> Ebay </b> </a>


<br>
<br>
<br>
<br>

  </div>


  <center> <%= image_tag 'filipina4.png'%> </center>

 <p> Santacruzan Barbie  </p>
 <p> Year Realeased: 1998 </p>
 <P> Image Via: <a href="http://www.ebay.com/itm/5182-NRFB-Mattel-Philippines-Filipina-Santacruzan-Reyna-Caridad-Barbie-/152298758713?hash=item2375b6a239:m:mEcQ7soi6sM_1WXsPNhnJKA"> <b> Ebay </b> </a> 

<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'filipina5.png'%> </center>



<p>  Flores de Mayo Barbie </p>
 <p> Year Realeased: 1998 </p>
 <p> Designed By: Nicky Martinez </p>
 <P> Image Via: <a href="http://www.ebay.com/itm/6731-NRFB-Mattel-Philippines-Flores-De-Mayo-Reyna-Esperanza-Barbie-Foreign-/401211854684?hash=item5d6a170f5c:g:XyQAAMXQHeBSFPPd"> <b> Ebay </b> </a> 

<br>
<br>
<br>
<br>

</div>

<div class="img">

 <center> <%= image_tag 'filipina6.png'%> </center>

 <p> Philippine Islands Barbie  </p>
 <p> Year Realeased: 1996 </p>
 <P> Image Via: <a href="http://www.ebay.com/itm/NEW-NIB-BARBIE-DOLL-1996-PHILIPPINE-ISLAND-FOREIGN-/391601125188?hash=item5b2d3ef744:g:bIUAAMXQEgpTD0y9"> <b> Ebay </b> </a>


<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'filipina7.png'%> </center>

 <p> Philippine Islands Barbie </p>
 <p> Year Realeased: 1996 </p>
 <P> Image Via: <a href="http://www.ebay.com/itm/6062-NRFB-Mattel-Philippine-Islands-Barbie-2nd-Series-Foreign-Issue-/401213999553?hash=item5d6a37c9c1:g:mGcAAMXQb29R2zgz"> <b> Ebay </b> </a>

<br>
<br>
<br>
<br>

  </div>


 <center> <%= image_tag 'filipina8.png'%> </center>

 <p> Philippine Islands Barbie </p>
 <p> Year Realeased: 1996 </p>
  <P> Image Via: <a href="http://www.ebay.com/itm/Mattel-Barbie-Doll-1996-Philippine-Islands-Barbie-NM-/361555080543?hash=item542e5cb55f:g:Yq4AAOSwHJhXMpRF"> <b> Ebay </b> </a>

  

<br>
<br>
<br>
<br>



  </div>