<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<br>
	<br>
	<center>
		The Ultimate Gift Guide For Any Barbie Fan
	</center><br>
	<p></p>
	<center>
		By Alexis Marie
	</center>
	<p></p><br>
	<div class="img">
		<center>
			<%= image_tag 'polaroid.jpg'%>
		</center><br>
		<br>
		<p>1. <a href="https://www.etsy.com/listing/258882722/rare-vintage-barbie-polaroid-600-instant?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=barbie%20camera&ref=sr_gallery_9"><b>Barbie Polaroid 600,</b></a> $72.99, available at Etsy: Own a piece of history with this is a limited-edition Barbie Polaroid 600. This awesome camera was manufactured between the years 1999-2001. It comes with built-in automatic flash and a lighten/darken control slider.</p>
	</div><br>
	<br>
	<div class="img">
		<center>
			<%= image_tag 'planner.jpg'%>
		</center><br>
		<br>
		<p>2. <a href="http://www.calendars.com/Barbie-Agenda-Planner/prod201700000113/"><b>Barbie Agenda Planner,</b></a> $13.99, available at calendars.com: Start 2017 off right with this spiral-bound agenda. It includes a weekly format and a section for notes. We love this planner because it’s chic and simple!</p>
	</div><br>
	<br>
	<div class="img">
		<center>
			<%= image_tag 'hatbox.jpg'%>
		</center><br>
		<br>
		<p>3. <a href="http://www.ebay.com/itm/1962-Barbie-Ponytail-Round-Black-Vinyl-Hatbox-Carry-Case-Rare-Vintage-Find-/272435020569?hash=item3f6e648319:g:9MAAAOSw74FXPLB2"><b>Vintage 1962 Barbie Vinyl Hatbox</b></a> $39.99, available at Ebay: We never knew that a vinyl hat box could be so stylish. You can store all of your kick-knacks in here for safe keeping.</p>
	</div><br>
	<br>
	<div class="img">
		<center>
			<%= image_tag 'treasurebox.jpg'%>
		</center><br>
		<br>
		<p>4. <a href="http://www.hallmark.com/gifts/home-decor/decorative-accessories/barbie-treasure-box-1BAR1516.html"><b>Barbie Treasure Box,</b></a> $14.95, available at Hallmark: Stash your favorite trinkets in this elegant ceramic box. It will look beautiful displayed on your nightstand or vanity.</p>
	</div><br>
	<br>
	<div class="img">
		<center>
			<%= image_tag 'tank.jpg'%>
		</center><br>
		<br>
		<p>5. <a href="http://www.target.com/p/mattel-women-s-barbie-tank-hipster-set-black-pink/-/A-50438592"><b>Mattel Women's Barbie Tank & Hipster Set,</b></a> $14.99, available at Target: We’re totally smitten with this tank and panty set! Can this ensemble get any cuter?</p>
	</div><br>
	<br>
</body>
</html>