<!DOCTYPE html>
<html>
<head>
  <% content_for :title do %>
  <title> Dollier |  Barbie Suite at the Palms Hotel in Las Vegas | Your home for Barbie Doll, Silkstone, Blythe, Bratz, Monster High, Fashion, Vintage, Style, Minatures, History, News, and DIY Projects </title>
  <meta charset="UTF-8">
<meta name="description" content="Barbie Suite at the Palms Hotel in Las Vegas">
<meta name="keywords" content="Barbie Doll, Las Vegas, Hotel, Palms Hotel, Silkstone, Blythe, Bratz, Monster High, Fashion, Vintage, Style, Minatures">
<meta name="author" content="Alexis Marie">
<% end %>
</head>
<body>
  <br>
  <br>
  <br>
  <br>
  <center>
  <c>   Barbie Suite at the Palms Hotel in Las Vegas  </c>
  </center><br>
  <p></p>
  <center>
    By Alexis Marie
  </center>
  <br>
  <br>
  <p> I’ve always been a sucker for a good theme. A few years ago I came across an article on the Barbie Suite at the Palms Resort in Vegas. I was in total Barbie heaven! The room boasts 2,350 square feet, three queen-sized beds, a luxurious Jacuzzi tub, steam shower, two-way fireplace, and furniture designed by Jonathan Adler in collaboration with Mattel.   </p>
  <p></p>
  <div class="img">
    <br>
    <center>
      <%= image_tag 'hotel1.png'%>
    </center>
    <p>Image Via: <a href="https://www.oyster.com/las-vegas/hotels/the-palms-casino-resort/photos/barbie-suite/"><b>Oyster.com</b></a><br>
    <br>
    <br></p>
  </div>
  <center>
    <%= image_tag 'hotel2.png'%>
  </center>
  <p>Image Via: <a href="https://www.oyster.com/las-vegas/hotels/the-palms-casino-resort/photos/barbie-suite/"><b>Oyster.com</b></a><br>
  <br>
  <p> I mean, come on! What Barbie aficionado could resist the artwork adorning the wall? I know that I can’t! </p>
  <br>
  <br>
  <br></p>
  <div class="img">
    <center>
      <%= image_tag 'hotel3.png'%>
    </center>
    <p>Image Via: <a href="https://www.oyster.com/las-vegas/hotels/the-palms-casino-resort/photos/barbie-suite/"><b>Oyster.com</b></a><br>
    <br>
    <p> I need a set of those pink ghost chairs!!! If you look up closely, you can see Barbie's face printed on the back. 
    <br>
    <br>
    <br></p>
  </div>
  <center>
    <%= image_tag 'hotel4.png'%>
  </center>
  <p>Image Via: <a href="https://www.oyster.com/las-vegas/hotels/the-palms-casino-resort/photos/barbie-suite/"><b>Oyster.com</b></a><br>
  <br>
  <br>
  <br></p>
  <div class="img">
    <center>
      <%= image_tag 'hotel5.png'%>
    </center>
    <p>Image Via: <a href="https://www.oyster.com/las-vegas/hotels/the-palms-casino-resort/photos/barbie-suite/"><b>Oyster.com</b></a><br>
    <br>
    <br>
    <br></p>
  </div>
  <div class="img">
    <center>
      <%= image_tag 'hotel6.png'%>
    </center>
    <p>Image Via: <a href="https://www.oyster.com/las-vegas/hotels/the-palms-casino-resort/photos/barbie-suite/"><b>Oyster.com</b></a><br>
    <br>
    <br>
    <br>
  </div>
  </p>
  <div class="img">
    <center>
      <%= image_tag 'hotel7.png'%>
    </center>
    <p>Image Via: <a href="https://www.oyster.com/las-vegas/hotels/the-palms-casino-resort/photos/barbie-suite/"><b>Oyster.com</b></a><br>
    <br>
    <br>
    <br>
  </div>
  </p>
  <div class="img">
    <center>
      <%= image_tag 'hotel8.png'%>
    </center>
    <p>Image Via: <a href="https://www.oyster.com/las-vegas/hotels/the-palms-casino-resort/photos/barbie-suite/"><b>Oyster.com</b></a><br>
    <br>
    <br>
    <br>
  </div>
  </p>
  <div class="img">
    <center>
      <%= image_tag 'hotel9.png'%>
    </center>
    <p>Image Via: <a href="https://www.oyster.com/las-vegas/hotels/the-palms-casino-resort/photos/barbie-suite/"><b>Oyster.com</b></a><br>
    <br> 
    <p> I'm in pop art heaven :)
    <br>
    <br>
    <br>
  </div>
  </p>

  <%= render 'layouts/disqus' %>
  
</body>
</html>