


<div class="img">

 <center> <%= image_tag 'silkstone1.png'%> </center>

 <p> The Lingerie Barbie Doll </p>
 <p> Year Realeased: 4/1/2001 </p>
 <p> Designed By: Robert Best </p>
 <P> Image Via: <a href="http://www.thebarbiecollection.com/silkstone-dolls/the-lingerie-barbie-doll-29651"> <b> thebarbiecollection.com </b> </a>

<br>
<br>
<br>
<br>

  </div>


  <center> <%= image_tag 'lingerie60.png'%> </center>

 <p> Fashion Avenue Lingerie  </p>
 <p> Year Realeased: 1998 </p>
 <P> Image Via: <a href="http://www.ebay.com/itm/Barbie-Fashion-Avenue-Lingerie-22928-Blue-Daisy-3-Piece-Set-NEW-/381721156246?hash=item58e05a9a96:g:-aEAAOSwqfNXnpLx"> <b> Ebay </b> </a> 

<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'silkstone2.png'%> </center>

<p>  The Lingerie Barbie Doll #4 </p>
 <p> Year Realeased: 5/1/2002 </p>
 <p> Designed By: Robert Best </p>
 <P> Image Via: <a href="http://www.thebarbiecollection.com/silkstone-dolls/the-lingerie-barbie-doll-4-55498"> <b> thebarbiecollection.com </b> </a>


<br>
<br>
<br>
<br>

  </div>


  <center> <%= image_tag 'lingerie80.png'%> </center>

 <p> Fashion Avenue Lingerie  </p>
 <p> Year Realeased: 1998 </p>
 <P> Image Via: <a href="http://www.ebay.com/itm/Barbie-Fashion-Avenue-Lingerie-Ensemble-19196-Peachy-and-Mint-Colored-2-Piece-/381721156265?hash=item58e05a9aa9:g:-y8AAOSwdzVXnpL9"> <b> Ebay </b> </a> 

<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'silkstone3.png'%> </center>



 <p> The Lingerie Barbie Doll </p>
 <p> Year Realeased: 1/1/2000 </p>
 <p> Designed By: Robert Best </p>
 <P> Image Via: <a href="http://www.thebarbiecollection.com/silkstone-dolls/the-lingerie-barbie-doll-26930"> <b> thebarbiecollection.com </b> </a>

<br>
<br>
<br>
<br>

</div>

<div class="img">

 <center> <%= image_tag 'lingerie40.png'%> </center>

 <p> Fashion Avenue Lingerie  </p>
 <p> Year Realeased: 1998 </p>


<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'silkstone4.png'%> </center>

 <p> The Ingenue Barbie Doll </p>
 <p> Year Realeased: 2/14/2007 </p>
 <p> Designed By: Robert Best </p>
 <P> Image Via: <a href="http://www.thebarbiecollection.com/silkstone-dolls/the-ingenue-barbie-doll-k7932"> <b> thebarbiecollection.com </b> </a>

<br>
<br>
<br>
<br>

  </div>


 <center> <%= image_tag 'lingerie30.png'%> </center>

 <p> Fancy Frills Fashion Lingerie  </p>
 <p> Year Realeased: 1990 </p>
  

<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'silkstone5.png'%> </center>

 <p> Tout De Suite Barbie Doll </p>
 <p> Year Realeased: 2/1/2008 </p>
 <p> Designed By: Robert Best </p>
 <P> Image Via: <a href="http://www.thebarbiecollection.com/silkstone-dolls/tout-de-suite-barbie-doll-l9596"> <b> thebarbiecollection.com </b> </a>

<br>
<br>
<br>
<br>

  </div>
 </div>
 
  <center> <%= image_tag 'lingerie70.png'%> </center>

  <p> Fashion Avenue Lingerie  </p>
 <p> Year Realeased: 1996 </p>
 <P> Image Via: <a href="http://www.ebay.com/itm/Barbie-Fashion-Avenue-Lingerie-Fashion-Pack-15875-NEW/381788805172?_trksid=p2047675.c100005.m1851&_trkparms=aid%3D222007%26algo%3DSIC.MBE%26ao%3D2%26asc%3D39823%26meid%3D3e50453649d84a468e7e67acc0384299%26pid%3D100005%26rk%3D1%26rkt%3D6%26sd%3D381721156246"> <b> Ebay </b> </a> 

<br>
<br>
<br>
<br>

  </div>

<center> <%= image_tag 'silkstone6.png'%> </center>

<p>  The Lingerie Barbie Doll #6 </p>
 <p> Year Realeased: 2/1/2003 </p>
 <p> Designed By: Robert Best </p>
 <P> Image Via: <a href="http://www.thebarbiecollection.com/silkstone-dolls/the-lingerie-barbie-doll-6-56948"> <b> thebarbiecollection.com </b> </a>


<br>
<br>
<br>
<br>



  </div>