<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<center>
		<c>  9 Must-Haves For a Barbie Themed Party  </c>
	</center><br>
	<p></p>
	<center>
		By Alexis Marie
	</center>
	<p></p><br>


<div class="img">

 <center> <%= image_tag 'party2.jpg'%> </center>

 <p> Lady Rose Cocktail </p>
 <P> Recipe Via: <a href="http://www.jillianharris.com/valentines-drinks-lady-rose/"> <b> jillianharris.com</b> </a>

<br>
<br>
<br>
<br>


</div>


 <center> <%= image_tag 'party3.jpg'%> </center>

 <p> Pink Velvet Swiss Roll </p>
 <P> Recipe Via: <a href="http://www.garnishandglaze.com/2014/10/15/pink-velvet-swiss-roll/"> <b> garnishandglaze.com</b> </a>  

<br>
<br>
<br>
<br>

  </div>

<center> <%= image_tag 'party8.jpg'%> </center>
 <p> Personalized Barbie Party Invitations - Set of 12   </p>
 <p> Price: $16.00 </p>
 <P> Buy It At: <a href="https://www.etsy.com/listing/81595208/personalized-barbie-birthday-party"> <b> Etsy </b> </a>
  

<br>
<br>
<br>
<br>

  </div>


 <center> <%= image_tag 'party7.jpg'%> </center>

 <p> Gold Paper Straws  </p>
 <p> Price: $3.79+ </p>
 <P> Buy It At: <a href="https://www.etsy.com/listing/174227010/gold-paper-straws-elegant-foil-paper?ref=shop_home_feat_2"> <b> Etsy</b> </a>
  

<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'party1.jpg'%> </center>

 <p> Shirley Temple </p>
 <P> Recipe Via: <a href="http://www.pnpflowersinc.com/2013/02/ShirleyTempleValentinesDayDrinkforKids.html"> <b> pnpflowersinc.com </b> </a>  

<br>
<br>
<br>
<br>

  </div>

</div>

<center> <%= image_tag 'party9.png'%> </center>

<p> Pink Marbleized Balloon  </p>
<p> Price: $1.95 </p>
 <P> Buy It At <a href="https://www.etsy.com/listing/399590377/pink-marble-latex-balloon-11-pink-tye?utm_source=google&utm_medium=cpc&utm_campaign=shopping_us_e-paper_goods_and_party_supplies-party_supplies-party_decor&utm_custom1=d39a60e2-e02d-4513-bb21-373134e10bba&gclid=Cj0KEQiAx7XBBRCdyNOw6PLHrYABEiQAJtyEQ1NleKoHBb1iCI1xfawLOvOdCf9bipARDuOvayaneDcaAs_C8P8HAQ"> <b> Etsy </b> </a>


<br>
<br>
<br>
<br>


 </div>
 
  <center> <%= image_tag 'party5.jpg'%> </center>
  <p> Pink and Gold Garland </p>
  <p> Price: $12.99  </p>
 <P> Buy It At: <a href="https://www.etsy.com/listing/252216808/pink-gold-tassel-garland-kit-shabby-chic"> <b> Etsy </b> </a> 

<br>
<br>
<br>
<br>

  </div>

  <center> <%= image_tag 'party4.jpg'%> </center>
 <p> Barbie Fondant Cupcake Toppers - Set of 12 </p>
 <p> Price: $18.00  </p>
 <P> Buy It At: <a href="https://www.etsy.com/listing/247283618/barbie-cupcake-toppers-fondant"> <b> Etsy </b> </a>


<br>
<br>
<br>
<br>



  </div>

<center> <%= image_tag 'party6.jpg'%> </center>
<p>  Gold Barbie Cupcake Toppers - Set of 12 </p>
<p> Price: $6.00  </p>
 <P> Buy It At: <a href="https://www.etsy.com/listing/238945531/gold-barbie-cupcake-toppers-cupcake?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=barbie%20food&ref=sr_gallery_23"> <b> Etsy </b> </a>


<br>
<br>
<br>
<br>



  </div>