<!DOCTYPE html>
<html>
<head>
  <% content_for :title do %>
  <title> Dollier | Thanksgiving Barbie Photos | Your home for Barbie Doll, Silkstone, Blythe, Bratz, Monster High, Fashion, Vintage, Style, Minatures, and Toys </title>
<meta name="description" content="Thanksgiving Barbie Photos">
<meta name="keywords" content="Barbie Doll, Silkstone, Blythe, Bratz, Monster High, Fashion, Vintage, Style, Minatures">
<meta name="author" content="Alexis Marie">
  <% end %>
</head>
<body>
  <br>
  <br>
  <br>
  <br>
  <center>
  <c>   Thanksgiving With Barbie  </c>
  </center><br>
  <p></p>
  <center>
    By Alexis Marie
  </center>
  <br>
  <br>
  <p> The holidays are just around the corner, and what better way to get in the festive spirit than with Thanksgiving themed Barbie! </p>
  <p></p>
  <div class="img">
    <br>
    <center>
      <%= image_tag 'thanksgiving1.png'%>
    </center>
    <p> Dolls Shown In Picture: </p>
    <p> Fair Hair Barbie 1967-1974 </p>
    <p> Skipper: Straight Leg 1964 - 1966 </p>
    <p> Ken: Early 1970s </p>
    <p> Source: Barbie Talk Magazine </p>

    <br>
    <br></p>
  </div>
  <center>
    <%= image_tag 'thanksgiving2.png'%>
  </center>
  <p>Thanksgiving Feast Barbie</p>
  <p>Year Realeased: 2010</p>
  <p>Designer: Ann Driskill </p>
  <p>Image Via: <a href="http://www.thebarbiecollection.com/holiday-hostess-collection/thanksgiving-feast-barbie-doll-t2160"><b>thebarbiecollection.com</b></a><br>
  <br>
  <br>
  <br></p>
  <div class="img">
    <center>
      <%= image_tag 'thanksgiving3.jpg'%>
    </center>
    <p>Special Edition Pilgrim Barbie</p>
    <p>Release Date: 1/1/1995</p>
    <p>Image Via: <a href="http://www.ebay.com/itm/PILGRIM-BARBIE-AMERICAN-STORIES-COLLECTION-SPECIAL-EDITION-NRFB-/172412336194?hash=item2824937842:g:4tUAAOSw44BYLg7R"><b>Ebay</b></a><br>
    <br>
    <br>
    <br></p>
  </div>
  <center>
    <%= image_tag 'thanksgiving4.jpg'%>
  </center>
  <p>Barbie Talk Magazine - Thanksgiving Issue</p>
  <p>Year Realeased: 1971</p>

  <br>
  <br>
  <br></p>
  <div class="img">
    <center>
      <%= image_tag 'thanksgiving5.jpg'%>
    </center>
    <p>1968 Pilgrim Sewing Pattern For </p> <p> Barbie, Ken, Skipper, and Ricky </p>
    <br>
    <br>
    <br></p>
  </div>
  <div class="img">
    <center>
      <%= image_tag 'thanksgiving6.png'%>
    </center>
    <p>Barbie Fashion Vol 1 #37</p>
    <p>January, 1994</p><br>
    <br>
    <br>
    <br>
  </div>
  </p>

  <%= render 'layouts/disqus' %>
  
</body>
</html>