
<br>
<br>


<c>  <center>  12 Cars That Barbie Has Owned  </center>  </c>

<br>

<p> <center> By Alexis Marie </center> </p>

<Br>



<div class="img">

 <center> <%= image_tag 'car1.jpg' alt="Volkswagen Beetle Convertible" %> </center>

 <p> Volkswagen Beetle Convertible </p>
 <p> Year Realeased: 2002 </p>


<br>
<br>
<br>
<br>

  </div>


  <center> <%= image_tag 'car2.jpg' alt="Barbie Corvette" %> </center>

 <p> Barbie Corvette  </p>
 <p> Year Realeased: 1976 </p>


<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'car3.jpg' alt="Volkswagen VW Golf Convertible" %> </center>

<p>  Volkswagen VW Golf Convertible  </p>
<p> Year Realeased: 1984 </p>
<P> Image Via: <a href="http://www.lulu-berlu.com/barbie-s-new-vw-golf-cabriolet-mattel-1984-ref.7873-a38009-en.html"> <b> lulu-berlu.com </b> </a>


<br>
<br>
<br>
<br>

  </div>


  <center> <%= image_tag 'car4.jpg' alt="Western 4-wheel Drive and Horse Trailer" %> </center>

 <p> Western 4-wheel Drive and Horse Trailer  </p>
 <p> Year Realeased: 1980 </p>
 <P> Image Via: <a href="http://www.lulu-berlu.com/barbie-western-4-wheel-drive-horse-trailer-mattel-1980-ref.3744-a14525-en.html"> <b> lulu-berlu.com </b> </a> 

<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'car5.jpg' alt="Ferrari" %> </center>



 <p> Ferrari </p>
 <p> Year Realeased: 1987 </p>
 

<br>
<br>
<br>
<br>

</div>

<div class="img">

 <center> <%= image_tag alt="Fun Rider" %> </center>

 <p> Fun Rider  </p>
 <p> Year Realeased: 1990 </p>


<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'car7.jpg' alt="Jaguar XJS"%> </center>

 <p> Jaguar XJS </p>
 <p> Year Realeased: 1994 </p>
 <P> Image Via: <a href="http://www.ebay.com/itm/VTG-1994-BARBIE-PINK-JAGUAR-XJS-MATTEL-EUROPEAN-SEALED-BUGGIES-UNUSED-BRAND-NEW-/171511202822?hash=item27eedd4406:g:PNsAAOSwZkJUR4S-"> <b> Ebay </b> </a>

<br>
<br>
<br>
<br>

  </div>


 <center> <%= image_tag 'car8.jpg' alt="Ford Mustang Convertible"%> </center>

 <p> Ford Mustang Convertible  </p>
 <p> Year Realeased: 1996 </p>
 <P> Image Via: <a href="http://www.ebay.co.uk/itm/NEW-NIB-VINTAGE-BARBIE-MUSTANG-PINK-CONVERTIBLE-CAR-VEHICLE-SO-COOL-FREE/152277623395?_trksid=p2047675.c100005.m1851&_trkparms=aid%3D222007%26algo%3DSIC.MBE%26ao%3D2%26asc%3D39828%26meid%3D72ecd300da52455fb4989b9560801da6%26pid%3D100005%26rk%3D2%26rkt%3D6%26sd%3D381581174238"> <b> Ebay </b> </a>
  

<br>
<br>
<br>
<br>

  </div>

<div class="img">

 <center> <%= image_tag 'car9.jpg' alt="Cars" %> </center>


 <P> Image Via: <a href="https://www.the-saleroom.com/en-gb/auction-catalogues/special-auction-services/catalogue-id-srspe10156/lot-bc6a18c9-1f3b-419c-b29c-a60b00b8e63f"> <b> the-saleroom.com </b> </a>

<br>
<br>
<br>
<br>

  </div>
 </div>
 
  <center> <%= image_tag 'car10.jpg' alt="Corvette" %>  </center>

  <p> Corvette  </p>
 <p> Year Realeased: 1980 </p>

<br>
<br>
<br>
<br>

  </div>

<center> <%= image_tag 'car11.jpg' alt="Sparkle Beach Glitter Rider" %> </center>

<p>  Sparkle Beach Glitter Rider  </p>
 <p> Year Realeased: 1995 </p>



<br>
<br>
<br>
<br>



  </div>

  </div>

<center> <%= image_tag 'car12.jpg' alt="Ford Mustang" %> </center>

<p>  Ford Mustang </p>
 <p> Year Realeased: 1994 </p>



<br>
<br>
<br>
<br>



  </div>