


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'car1.jpg'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'car2.jpg'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'car3.jpg'%>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'car4.jpg'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'car10.jpg'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'car6.jpg'%>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'car7.jpg'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'car8.jpg'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'car9.jpg'%>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'car5.jpg'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'car11.jpg'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'car12.jpg'%>
    </div>
  </div>
</div>