<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="centerDiv">
  <div class="pin">
    <%= link_to image_tag("drink.png"), "/barbie/party" %>
    <h2> 9 Must-Haves For a Barbie Themed Party </h2>
  </div>
  <div class="pin">
    <%= link_to image_tag("pamela.png"), "/interview/pamela" %>
    <h2>Endangered Sissy’s Founder On Fashion and Business</h2>
  </div>
   <div class="pin">
    <%= link_to image_tag("filipina200.png"), "/barbie/filipina" %>
    <h2> Filipina Barbies We Can’t Resist </h2>
  </div>
  <div class="pin">
    <%= link_to image_tag("nadine20.png"), "/interview/nadine" %>
    <h2> Q&A: Nadine Talks Personal Style </h2>
  </div>
  <div class="pin">
    <%= link_to image_tag("car500.png"), "/barbie/cars" %>
    <h2>12 Cars That Barbie Has Owned</h2>
  </div>
  <div class="pin">
    <%= link_to image_tag("polaroid20.png"), "/barbie/giftguide" %>
    <h2>The Ultimate Gift Guide For Any Barbie Fan</h2>
  </div>
  <div class="pin">
    <%= link_to image_tag("frontpage20.png"), "/barbie/lingerie" %>
    <h2>Barbie's Lingerie Over The Years</h2>
  </div>
  <div class="pin">
    <%= link_to image_tag("silver20.png"), "/barbie/dresses" %>
    <h2>10 Metallic Dresses We LOVE</h2>
  </div>
  <div class="pin">
    <%= link_to image_tag("blytheclothes90.png"), "/etsy/wishlist" %>
    <h2>Etsy Fashions We're Coveting</h2>
  </div>
  <div class="pin">
    <%= link_to image_tag("brownskirt20.png"), "/etsy/wishlist2" %>
    <h2>Etsy Spotlight: Clothing We Adore</h2>
  </div>
  <div class="pin">
    <%= link_to image_tag("miniature20.png"), "/miniatures/instagram" %>
    <h2>Obsessed: Miniatures On Instagram!</h2>
  </div>
  </div>
  </div>
</body>
</html>


