 <link href="/assets/homepage.css" media="screen" rel="stylesheet" />


<div class="pin">
  <%= link_to image_tag("nadine.png"), "/welcome/nadine" %>
  <h2> Q&A: Nadine Talks Personal Style  </h2>
</div>

<div class="pin">
  <%= link_to image_tag("car100.png"), "/welcome/cars" %>
  <h2>12 Cars That Barbie Has Owned </h2>
</div>




<div class="pin">
  <%= link_to image_tag("polaroid.jpg"), "/welcome/post" %>
  <h2>The Ultimate Gift Guide For Any Barbie Fan</h2>
</div>




 <div class="pin">
   <%= link_to image_tag("frontpage.png"), "/welcome/lingerie" %>
  <h2>Barbie's Lingerie Over The Years</h2>
</div>



<div class="pin">
  <%= link_to image_tag("silver.png"), "/welcome/fashion" %>
  <h2>10 Metallic Dresses We LOVE</h2>
</div>

<div class="pin">
  <%= link_to image_tag("blytheclothes9.jpg"), "/welcome/blythedresses" %>
  <h2>Etsy Fashions We're Coveting </h2>
</div>


<div class="pin">
  <%= link_to image_tag("brownskirt.png"), "/welcome/ads" %>
  <h2>Etsy Spotlight: Clothing We Adore  </h2>
</div>

<div class="pin">
  <%= link_to image_tag("miniature.png"), "/welcome/instagram" %>
  <h2> Obsessed: Miniatures On Instagram! </h2>
</div>

