<br>



 <div class="pin">
  <%= link_to image_tag("nadine.png"), "/interview/nadine" %>
  <h2> Q&A: Nadine Talks Personal Style  </h2>
</div> 

<div class="pin">
  <%= link_to image_tag("car100.png"), "/barbie/cars" %>
  <h2>12 Cars That Barbie Has Owned </h2>
</div>




<div class="pin">
  <%= link_to image_tag("polaroid.jpg"), "/barbie/giftguide" %>
  <h2>The Ultimate Gift Guide For Any Barbie Fan</h2>
</div>




 <div class="pin">
   <%= link_to image_tag("frontpage.png"), "/barbie/lingerie" %>
  <h2>Barbie's Lingerie Over The Years</h2>
</div>



<div class="pin">
  <%= link_to image_tag("silver.png"), "/barbie/dresses" %>
  <h2>10 Metallic Dresses We LOVE</h2>
</div>

<div class="pin">
  <%= link_to image_tag("blytheclothes9.jpg"), "/etsy/wishlist" %>
  <h2>Etsy Fashions We're Coveting </h2>
</div>


<div class="pin">
  <%= link_to image_tag("brownskirt.png"), "/etsy/wishlist2" %>
  <h2>Etsy Spotlight: Clothing We Adore  </h2>
</div>

<div class="pin">
  <%= link_to image_tag("miniature.png"), "/miniatures/instagram" %>
  <h2> Obsessed: Miniatures On Instagram! </h2>
</div>

