 <link href="/assets/homepage.css" media="screen" rel="stylesheet" />


<div class="pin">
   <%= image_tag 'sparkles.png'%>
  <h2>Interview with Pam</h2>
</div>

<div class="pin">
   <%= link_to image_tag("genie.png"), "/welcome/pop" %>
  <h2>Pop Culture Barbies</h2>
</div>


<div class="pin">
   <%= image_tag 'lilli.jpg'%>
  <h2>Bild Lilli</h2>
</div>

<div class="pin">
  <%= link_to image_tag("car10.jpg"), "/welcome/cars" %>
  <h2>Barbie's Cars</h2>
</div>


<div class="pin">
  <%= image_tag 'curlyblythe4.png'%>
  <h2>Custom Etsy Blythe</h2>
</div>


<div class="pin">
  <%= link_to image_tag("giftguide.png"), "/welcome/post" %>
  <h2>Barbie Gift Guide</h2>
</div>




<div class="pin">
  <%= link_to image_tag("birkin.png"), "/welcome/instagram" %>
  <h2>Instagram Miniatures</h2>
</div>



 <div class="pin">
   <%= link_to image_tag("lingerie.png"), "/welcome/lingerie" %>
  <h2>Barbie's Lingerie Over The Years</h2>
</div>








