<!DOCTYPE html>
<html lang="en">

<br>
<br>
<br>

        <h1 class="ribbon">
         <strong class="ribbon-content">Barbie's Family</strong>
        </h1>

        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'skipper.png'%>
                <h3>Skipper
                    <small>Sister</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'francie.png'%>
                <h3>Francie
                    <small>Cousin</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'tutti.png'%>
                <h3>Tutti
                    <small>Sister</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'todd.png'%>
                <h3>Todd
                    <small>Brother</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'stacie.png'%>
                <h3>Stacie
                    <small>Sister</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'kelly.png'%>
                <h3>Kelly
                    <small>Sister</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'krissy.png'%>
                <h3>Krissy
                    <small>Sister</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'chelsea.png'%>
                <h3>Chelsea
                    <small>Sister</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'jazzie.png'%>
                <h3>Jazzie
                    <small>Cousin</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'pj.png'%>
                <h3>P.J.
                    <small>Cousin</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'question.png'%>
                <h3>George Roberts
                    <small>Father</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'question.png'%>
                <h3>Margaret Roberts
                    <small>Mother</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>



<br>
<br>
<br>
<br>


        <h1 class="ribbon">
         <strong class="ribbon-content">Barbie's Female Friends</strong>
        </h1>

        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'midge.png'%>
                <h3>Midge
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'christie.png'%>
                <h3>Christie
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>P.J.
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Steffie
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'kira.png'%>
                <h3>Kira
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'teresa.png'%>
                <h3>Teresa
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Shani
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Kayla
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Lea
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Jamie
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Valerie
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Cara
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Tracy
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Summer
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Nikki
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'raquelle.png'%>
                <h3>Raquelle 
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'renee.png'%>
                <h3>Renee 
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Dana
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'deedee.png'%>
                <h3>Deedee
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'diva.png'%>
                <h3>Diva
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'miko.png'%>
                <h3>Miko
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Whitney
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" <%= image_tag 'bopsy.png'%>
                <h3>Bopsy
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Belinda
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>





            <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Becky
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Nia
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Tara Lynn
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Reina
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Ana Suarez
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Chelsie Peterson 
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>





        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Lara Morelli-Strauss 
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Tori Burns 
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Nichelle Williams 
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Mari Nakano
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Drew
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Kenzie  
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>








        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Shawnee 
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Simone
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Melody
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Summer
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Desiree
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Courtney  
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12">
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Gillian
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Shannen
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Tia
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Grace
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Desiree
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s-media-cache-ak0.pinimg.com/236x/ed/6c/ac/ed6cac3a2811ae1db2c50fdba2cb9a98.jpg" alt="">
                <h3>Courtney  
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>



</body>

</html>
