<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'lingerie2.png'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'lingerie3.png'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'lingerie4.png'%>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'lingerie5.png'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'lingerie6.png'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'lingerie7.png'%>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'lingerie8.png'%>
    </div>
    <div class="col-sm-4">
     <%= image_tag 'lingerie1.png'%>
    </div>
    </div>
  </div>
</div>

