<!DOCTYPE html>
<html>
<head>
	<% content_for :title do %>
  <title> Dollier | Blythe Etsy Fashion Gift Guide | Your home for Barbie Doll, Silkstone, Blythe, Bratz, Monster High, Fashion, Vintage, Style, Minatures, and Toys </title>
  <meta name="description" content="Blythe Etsy Fashion Gift Guide">
<meta name="keywords" content="Barbie Doll, Silkstone, Blythe, Bratz, Monster High, Fashion, Vintage, Style, Minatures">
<meta name="author" content="Alexis Marie">
  <% end %>
</head>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<center>
	<c> Etsy Spotlight: Clothing We Adore </c>
	</center><br>
	<p></p>
	<center>
		By Alexis Marie
	</center>
	<p></p><br>
	<div class="img">
		<center>
			<%= image_tag 'blytheclothes5.png'%>
		</center>
		<p>1. <a href="https://www.etsy.com/listing/464171282/black-and-white-dress-for-blythe-and"><b>Black and White Dress</b></a> $20.13, available at Etsy</p><br>
		<br>
		<br>
		<br>
		<div class="img">
			<center>
				<%= image_tag 'blytheclothes3.png'%>
			</center>
			<p>2. <a href="https://www.etsy.com/listing/480977913/ditsy-frilly-dress-in-liberty-fabric-for"><b>Ditsy frilly Dress In Liberty Fabric</b></a> $32.15, available at Etsy</p><br>
			<br>
			<br>
			<br>
			<div class="img">
				<center>
					<%= image_tag 'blytheclothes1.png'%>
				</center>
				<p>3. <a href="https://www.etsy.com/listing/218349337/pale-blue-candy-cane-angora-dress-neo?ref=shop_home_active_71"><b>Pale Blue Candy Cane Angora Dress</b></a> $15.00 , available at Etsy</p><br>
				<br>
				<br>
				<br>
				<div class="img">
					<center>
						<%= image_tag 'blytheclothes4.png'%>
					</center>
					<p>4. <a href="https://www.etsy.com/listing/243256766/blythe-doll-sized-pretty-lilac-purple"><b>Lilac 100% Wool Coat</b></a> $17.00, available at Etsy</p><br>
					<br>
					<br>
					<br>
					<div class="img">
						<center>
							<%= image_tag 'brownskirt2.png'%>
						</center>
						<p>5. <a href="https://www.etsy.com/listing/268972858/fall-sale-blythe-skirt-vinos-doll-skirt"><b>Brown Leather Skirt For Blythe</b></a> $10.20, available at Etsy</p><br>
						<br>
						<br>
						<br>
						<div class="img">
							<center>
								<%= image_tag 'blytheclothes6.jpg'%>
							</center>
							<p>6. <a href="https://www.etsy.com/listing/253990464/fall-sale-blythe-jacket-black-doll"><b>Leather Blythe Jacket</b></a> $38.25, available at Etsy</p><br>
							<br>
							<br>
						</div>
						<div class="img">
							<center>
								<%= image_tag 'blytheclothes2.png'%>
							</center>
							<p>7. <a href="https://www.etsy.com/listing/285623021/stunning-fur-trim-caramelcamel-coloured"><b>Fur trim caramel/camel coloured jacket for Blythe doll</b></a> $23.00, available at Etsy</p><br>
							<br>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%= render 'layouts/disqus' %>
	
</body>
</html>