<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<center>
		<c> Etsy Fashions We're Coveting </c>
	</center><br>
	<p></p>
	<center>
		By Alexis Marie
	</center>
	<p></p><br>
	<div class="img">
		<center>
			<%= image_tag 'blytheclothes7.jpg'%>
		</center><br>
		<p>1. <a href="https://www.etsy.com/listing/400622393/dainty-yellow-rose-floral-blythe-doll"><b>Dainty Yellow Rose Floral Blythe Doll Dress (Vintage 1950s Fabric),</b></a> $13.95, available at Etsy</p><br>
		<br>
		<br>
		<br>
	</div>
	<div class="img">
		<center>
			<%= image_tag 'blytheclothes8.jpg'%>
		</center><br>
		<p>2. <a href="https://www.etsy.com/listing/465883535/sale-neo-blythe-a-frame-mod-dress-in"><b>Neo Blythe A-Frame mod dress in vintage 1960s flower and dot cotton print,</b></a> $10.00, available at Etsy</p><br>
		<br>
		<br>
		<br>
	</div>
	<div class="img">
		<center>
			<%= image_tag 'blytheclothes9.jpg'%>
		</center><br>
		<p>3. <a href="https://www.etsy.com/listing/258882722/rare-vintage-barbie-polaroid-600-instant?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=barbie%20camera&ref=sr_gallery_9"><b>Neo Blythe Autumn Spendor empire waist mini-dress and handbag set,</b></a> $35, available at Etsy</p><br>
		<br>
		<br>
		<br>
		<div class="img">
			<center>
				<%= image_tag 'blytheclothes10.jpg'%>
			</center>
			<p>4. <a href="https://www.etsy.com/listing/258882722/rare-vintage-barbie-polaroid-600-instant?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=barbie%20camera&ref=sr_gallery_9"><b>Wednesday I Don't Care About You - Sleeveless Dress For Blythe</b></a> $16.00 , available at Etsy</p><br>
			<br>
			<br>
			<div class="img">
				<center>
					<%= image_tag 'blytheclothes11.jpg'%>
				</center>
				<p>5. <a href="https://www.etsy.com/listing/247085795/blythe-mod-retro-mini-dress-also-fits"><b>Blythe Mod Retro Mini Dress,</b></a> $17.89, available at Etsy</p><br>
				<br>
				<br>
				<br>
				<div class="img">
					<center>
						<%= image_tag 'blytheclothes12.jpg'%>
					</center>
					<p>6. <a href="https://www.etsy.com/listing/261324091/blythe-doll-sized-turquoise-blue-boiled?ref=related-3"><b>Blythe Turquoise Blue Boiled Wool Blend Coat</b></a> $15, available at Etsy</p>
				</div><br>
				<br>
				<br>
			</div>
		</div>
	</div>
</body>
</html>