<!DOCTYPE html>
<html>
<head>
	<% content_for :title do %>
  <title> Dollier |  Q&A: Sparklecious Talks Personal Style  | Your home for Barbie Doll, Silkstone, Blythe, Bratz, Monster High, Fashion, Vintage, Style, Minatures, History, News, and DIY Projects </title>
  <meta name="description" content="Q&A: Sparklecious Talks Personal Style">
<meta name="keywords" content="Barbie Doll, Silkstone, Blythe, Bratz, Monster High, Fashion, Vintage, Style, Minatures">
<meta name="author" content="Alexis Marie">
  <% end %>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<center>
		<c> Q&A: Nadine Talks Personal Style </c>
	</center><br>
	<p></p>
	<center>
		By Alexis Marie
	</center>
	<p></p><br>
	<div class="img">
		<p>Nadine is the owner of the candy-colored Instagram <a href="https://www.instagram.com/sparklecious/"><b>sparklecious</b></a> . Her eye for design has helped her amass a dedicated online following. Just one look at her rainbow filled feed and you'll be hooked!</p><br>
		<center>
			<%= image_tag 'sparklecious.png' %>
		</center><br>
		<p><b>When did you become serious about collecting dolls? </b></p>
		<p>About a year ago, when I was sick in bed with pneumonia and had nothing to do except research dollies on the internet…and by research, I mean buy!</p><br>
		<br>
	</div>
	<center>
		<b><%= image_tag 'nadine.png'%></b>
	</center><b><br></b>
	<p><b><b>If you had to get rid of all of your dolls except one, which one would you save and why? <b></b></b></b></p>
	<p>Argh! Too hard! Every time I pick a girl up I’m convinced she’s the ONE. Then I pick up another and she’s the one…and so on.</p><br>
	<br>
	<br></b>
	<div class="img">
		<b></b>
		<center>
			<b><%= image_tag 'sparklecious3.png'%></b>
		</center><b><br></b>
		<p><b><b>A lot of your doll clothing is vintage. Is there a specific era of fashion that you favor over others? Do you have any favorite online shops that you buy clothing from? <b></b></b></b></p>
		<p>I love mod era clothing. 1970 was a great year for my dollies. Vintage Skipper doll clothing is my absolute obsession - it fits Blythe dolls so well. I buy it from other collectors and from eBay mostly. I’m a total bargain hound and I am always stalking a good vintage deal. I do that in real life too, I barely ever buy anything new. Makers of retro styled clothing that I also like are <a href="https://www.etsy.com/shop/endangeredsissy"><b>Endangered Sissy</b></a> and <a href="https://www.etsy.com/shop/PlasticFashion"><b>Plastic Fashion</b></a> on Etsy and <a href="https://www.instagram.com/vintagecity_gem/"><b>Vintage City Gem</b></a> on Instagram. For street style, my absolute FAV is <a href="https://www.etsy.com/shop/Pomipomari"><b>Pomipomari</b></a> Pomipomari on etsy (she’s on <a href="https://www.instagram.com/Pomipomari"><b>IG</b></a> too)</b></p><br>
		<br>
	</div>
	<div class="img">
		<center>
			<%= image_tag 'sparklecious4.png'%>
		</center><br>
		<p><b>Do you have any tips for the beginning doll photographer?</b></p>
		<p>Work to your strengths and chase the light. I have no technical skill as a photographer and I just use my phone, so I decided to concentrate on composition and colour, and realised early on that if the light is bad, the image is bad. I built a DIY lightbox off an online tutorial and that made ALL the difference to my image quality. There are lots of blog posts about framing, composition etc, I’d read those.&nbsp;Oh, and it takes practice to pose your dollies - mine all looked…differently abled…for many months until I got better at it. I’m still pretty lazy about that, but I know that about myself and I play to my strengths!&nbsp;</p><br>
		<br>
	</div>
	<div class="img">
		<center>
			<%= image_tag 'sparklecious5.png'%>
		</center><br>
		<p><b>Where do you draw inspiration from for your photography? Are you inspired by any specific websites, artists, movies, or music</b></p>
		<p>Candy minimalism and 60’s and 70’s fashion spreads! I love <a href="https://www.instagram.com/violettinder/"><b>Violet Tinder</b></a> on Instagram, and there are a few toy accounts - like yours actually - that I adore for their retro vibe. I also really like the happycolors hashtag - so much good inpso there.</p><br>
		<br>
		<p>Find Nadine at <a href="https://www.instagram.com/sparklecious/"><b>@sparklecious</b></a></p>

		<%= render 'layouts/disqus' %>
		
	</div>
</body>
</html>